# Débuter avec Pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/emilien/anaconda3/lib/python3.7/site-packages (1.3.3)
Requirement already satisfied: numpy>=1.17.3 in /home/emilien/anaconda3/lib/python3.7/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/emilien/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/emilien/anaconda3/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /home/emilien/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
pd.D

## Créer un DataFrame

In [14]:
df = pd.DataFrame(
    {
    "Colonne 1":["A","B","C"],
    "Colonne 2":[1,2,3],
    "Colonne 3":["jaune",3,"rouge"]
    }
)

In [15]:
df

  Colonne 1  Colonne 2 Colonne 3
0         A          1     jaune
1         B          2         3
2         C          3     rouge

In [10]:
df.columns

Index(['Colonne 1', 'Colonne 2', 'Colonne 3'], dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
df.shape

(3, 3)

In [16]:
df.dtypes

Colonne 1    object
Colonne 2     int64
Colonne 3    object
dtype: object

Sélectionner une colonne

In [17]:
df["Colonne 1"]

0    A
1    B
2    C
Name: Colonne 1, dtype: object

Sélectionner une ligne

In [18]:
df.loc[1]

Colonne 1    B
Colonne 2    2
Colonne 3    3
Name: 1, dtype: object

Sélectionner un élément

In [21]:
df.loc[1:2,"Colonne 1":"Colonne 2"]

  Colonne 1  Colonne 2
1         B          2
2         C          3

## Utiliser des données réelles

In [23]:
data = pd.read_csv("https://raw.githubusercontent.com/pyshs/Formation-CED-2021/main/Data/Corpus.csv")

In [25]:
data.shape

(176, 6)

In [27]:
data.columns

Index(['Date_reco', 'Date', 'Titre', 'Journal', 'Contenu', 'Auteur'], dtype='object')

In [28]:
data.index

RangeIndex(start=0, stop=176, step=1)

In [37]:
data

,Date_reco,Date,Titre,Journal,Contenu,Auteur
0,2021-12-04,"_Société, samedi 4 décembre 2021 493 mots, p...",CHLOROQUINE|Didier Raoult reçoit un blâme L'i...,Aujourd'hui en France Edition Principale,Séverine Cazes et Marie-Christine Tabet C'...,NaN
1,2021-11-20,"_Société, samedi 20 novembre 2021 85 mots, p...",CHLOROQUINE Une enquête interne a été demandée,Aujourd'hui en France Edition Principale,CHLOROQUINE Une enquête interne a été dema...,NaN
2,2021-07-06,"Le Figaro, mardi 6 juillet 2021 1674 mots, p...",Bolsonaro sur le banc des accusés après les r...,"Le Figaro, no. 23910","Le 16 janvier, pour sauver son père de l'asp...","Jeantet, Diane"
3,2020-12-08,"Analyses, mardi 8 décembre 2020 1140 mots, p...","Gilbert Deray Bilan d'étape du virus, un an a...",Le Monde,Le Covid-19 a révélé l'extraordinaire potent...,Gilbert Deray
4,2021-03-12,"vendredi 12 mars 2021 2671 mots, p. 12,13,14","A Marseille, la facture n'est pas passée",Libération,"Le soir du 15 mars 2020, Claude (1), 44 ans,...",Par CHRISTIAN LEHMANN
...,...,...,...,...,...,...
171,2021-02-15,"_Politique, lundi 15 février 2021 639 mots, ...",Le médecin-chef de la macronie Nommé au gouve...,Aujourd'hui en France Edition Principale,Par Marcelo Wesfreid C'était il y a pile u...,NaN
172,2021-09-20,"lundi 20 septembre 2021 1514 mots, p. 14,15","Arnaque, frime et pharmaceutique",Libération,Le malheur des uns fait le bonheur des autre...,Par LAURENT LÉGER
173,2021-09-06,"Économie, lundi 6 septembre 2021 695 mots, p...",Le site Web « France Soir » au coeur d'une no...,Le Monde,Un procès devra se tenir. La Veuve s'impatie...,Sandrine Cassini
174,2021-09-29,"mercredi 29 septembre 2021 1961 mots, p. 1,8,9",Les antivax ont quelque chose de Tennessee,Libération,pages 8-9 «L a secrétaire du service m'a...,Par PHILIPPE COSTE Envoyé spécial dans le Tenn...
175,2021-09-04,"France, samedi 4 septembre 2021 1343 mots, p...",Macron-Raoult : un an et demi de compagnonnag...,Le Monde,Il faut rendre justice à Didier Raoult qui e...,Ariane Chemin

In [41]:
filtre = data["Date_reco"] >= "2021-12-01"
data[filtre]["Titre"]
# data[data["Date_reco"]  >= "2021-12-01" ]

0      CHLOROQUINE|Didier Raoult reçoit un blâme L'i...
8      Didier Raoult blâmé pour sa communication La ...
15     L'Ordre des médecins adresse un blâme au prof...
17     Poursuivi pour « charlatanisme », Didier Raou...
37     «Le professeur Raoult a donné des information...
40     Antilles : pourquoi une telle complaisance ? ...
Name: Titre, dtype: object

On veut tous les articles avec "frime" dans le titre

In [43]:
filtre = data["Titre"].str.contains("frime")
data[filtre]

,Date_reco,Date,Titre,Journal,Contenu,Auteur
172,2021-09-20,"lundi 20 septembre 2021 1514 mots, p. 14,15","Arnaque, frime et pharmaceutique",Libération,Le malheur des uns fait le bonheur des autre...,Par LAURENT LÉGER

In [55]:
data["Journal"].str.contains("Le Monde")

0      False
1      False
2      False
3       True
4      False
       ...
171    False
172    False
173     True
174    False
175     True
Name: Journal, Length: 176, dtype: bool

In [51]:
len(data[data["Journal"].str.contains("Libération")])

37

In [66]:
filtre1 = data["Date_reco"]>="2021-12-01"
filtre2 = data["Titre"].str.contains("frime")
data[filtre1 & filtre2]

Empty DataFrame
Columns: [Date_reco, Date, Titre, Journal, Contenu, Auteur]
Index: []

Combien de fois les articles mentionnent raoult dans le corps du texte

1. comment compter la fréquence d'un mot dans un texte
2. construire une fonction qui le fait pour un texte
3. l'appliquer à toute la colonne (apply)

In [68]:
"sdsd qds sqdsq  ".count("sq")

2

In [72]:
def compter_raoult(texte):
    motcle = "raoult"
    texte = texte.lower()
    return texte.count(motcle)

In [73]:
compter_raoult("c'est le procès de Didier Raoult")

1

In [78]:
data["vide"] = None

In [76]:
data["Nb_raoult"] = data["Contenu"].apply(compter_raoult)

In [80]:
data["Nb_raoult"].mean()

1.6988636363636365

In [81]:
data["Nb_raoult"].describe()

count    176.000000
mean       1.698864
std        3.551289
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       22.000000
Name: Nb_raoult, dtype: float64

In [82]:
data[data["Nb_raoult"]>20]

,Date_reco,Date,Titre,Journal,Contenu,Auteur,Nb_raoult,vide
9,2021-08-28,"Opinions, samedi 28 août 2021 3264 mots, p. ...","Didier Raoult, le postmodernisme en étendard","La Tribune (France), no. 7213",Directeur de l'institut hospitalo-universita...,"Eric Muraille, Alban de Kerchove d'Exaerde et ...",22,None

Les journaux : recodez les journaux pour pouvoir compter le nombre d'article par journal

In [ ]:
def recoder_journal(texte):
    if "Libération" in texte:
        return "Libération"
    if "Figaro" in texte:
        return "Figaro"

In [101]:
def recoder_journal(texte):
    liste_recodage = ["Libération","Figaro","La Croix","Les Echos",
                      "La Tribune","Aujourd'hui en France"]
    for journal in liste_recodage:
        if journal in texte:
            return journal
    return texte.strip()

In [102]:
data["Journal-reco"] = data["Journal"].apply(recoder_journal)
data["Journal-reco"].value_counts()

Libération               37
Le Monde                 36
Figaro                   35
Aujourd'hui en France    33
La Croix                 12
Les Echos                10
l'Humanité                9
La Tribune                4
Name: Journal-reco, dtype: int64

In [108]:
data.to_excel("corpus-recode.xls")

/home/emilien/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [109]:
data_liberation = data[data["Journal-reco"] == "Libération"]
colonne_nb_raoult_liberation = data_liberation["Nb_raoult"]
colonne_nb_raoult_liberation.mean()

2.4324324324324325

In [110]:
data[data["Journal-reco"] == "Libération"]["Nb_raoult"].mean()

2.4324324324324325

In [106]:
data[data["Journal-reco"] == "Le Monde"]["Nb_raoult"].mean()

3.0833333333333335

In [107]:
data.groupby("Journal-reco")["Nb_raoult"].mean()

Journal-reco
Aujourd'hui en France    1.303030
Figaro                   0.742857
La Croix                 0.083333
La Tribune               5.500000
Le Monde                 3.083333
Les Echos                0.100000
Libération               2.432432
l'Humanité               0.555556
Name: Nb_raoult, dtype: float64